// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #ffe2f4 !default;
$header-bg-color: #961a54 !default;
$header-bg-color-secondary: #922a1a !default;

// Text
$section-headings-color: #e6b26f !default;
$body-text-color: #f0efe9 !default;
$body-link-color: #ff7351 !default;
$body-bg-color: #11090c !default;
$body-section-bg-color: #5a4744 !default;
$body-bg-color-impair: darken($body-section-bg-color,2%) !default;
$body-bg-color-pair: lighten($body-section-bg-color,2%) !default;
// $blockquote-text-color: #ad9b93 !default;
$blockquote-text-color: lighten($body-section-bg-color,20%) !default;
$blockquote-link-color: #e25964 !default;
$talk-title-color: #ecb6c6 !default;
$talk-link-color: #d86e97 !default;
$publication-title-color: #d8ddaa !default;
$publication-link-color: #d4da79 !default;
$teaching-title-color: #aaafdd !default;
$teaching-link-color: #797fda !default;
$activity-color: #f1a07b !default;
$top-btn-color: #700c3b !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: darken($body-bg-color,2%) !default;