// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #f3deeb !default;
$header-bg-color: #75103f !default;
$header-bg-color-secondary: #6e1d11 !default;

// Text
$section-headings-color: #e6b26f !default;
$body-text-color: #f0efe4 !default;
$body-link-color: #ff7351 !default;
$body-bg-color: #1f0e14 !default;
$body-section-bg-color: #6d504b !default;
$body-bg-color-impair: darken($body-section-bg-color,2%) !default;
$body-bg-color-pair: lighten($body-section-bg-color,2%) !default;
$blockquote-text-color: #c4a0aa !default;
$blockquote-link-color: #e25964 !default;
$talk-title-color: #ecc1b6 !default;
$activity-color: #f1a8a1 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: darken($body-bg-color,2%) !default;